<div>
  <span class='badge text-bg-primary fs-6'>{{text}}</span>
  <hr />

  {{#each data}}
    <ul>
      <li>
        <div>
          <span
            class='badge text-bg-secondary p-2'
          >{{this}}</span>
        </div>
      </li>
    </ul>
  {{/each}}
</div>

<br />